{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'authentication/myStyle.css' %}">
    <link rel="icon" href="{% static 'authentication/myLock.png' %}">

    <title>Auth System</title>
  </head>
  <body>
    <div class="container text-center">
      <a href="{% url 'home' %}">
        <img src="{% static 'authentication/myLock.png' %}" alt="a lock picture" width=64 height=64>
        <span id="proj_name">Auth System</span>
      </a>
    </div>
    <div class="container text-center">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
